

@media (max-width: 900px) {

    .long-form{
        height: 1300px;
    }

    .short-form{
        height: 2300px;
    }
    .logo h1{
    display: none;
    }
    .logo{
        right: 0px;
    }
    #vid1{
        height: 260px;
        width: 90%;
    }
    .image::after{
        display: none;
    }
    .icon img{
        display: none;
    }
    .image img{
        display: none;
    }
    .home-content{
       
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        right: 0px;

       
    }
    .home-content h1{
        font-size: 50px;
    }
    .home-content p{
          margin: 20px 25px 40px;
          padding-left: 20px;
    }
    .header{
        padding: 20px 4%;
    }
    
   }
   @media (max-width: 700px) {
   
    .home-content .btn-box{
        margin: auto;
    }
   }
   
   @media (min-width: 900px) {

    .short-form{
        height: 700px;
    }
    .long-form{
        height: 800px;
    }
    .logo{
        right: 70px;
    }
    .logo h1{
        display: block;
        }
    #vid1{
        height: 300px;
        width: 40%;
    }
    .image::after{
        display: block;
    }
    .header{
        padding: 20px 10%;
    }
    
    .home-content{
        margin-right: 45%;
        width: 50%;
       
    }
    .home-content h1{
        font-size: 40px;
    }
    .home-content p{
         margin: 20px 0px 40px;
    }
   
   }
 

   
*{  scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
   
}
body{
    --header-height: 50px;
    padding-top: var(--header-height);
    background-color: rgb(255, 174, 0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.scrolledBG{
    height:auto;
    transition:0.6s all ease;
  }
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: transparent ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.5s;
    overflow: hidden;
    backdrop-filter: blur(50px);
    
}
.logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}
.logo h1{
    font-size: 30px;
}
.logo:hover{
text-shadow: 0px 0px 10px  white;
color: aliceblue;
transition: 0.3s;
}
.logo img::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 174, 0);
    animation: showRight 1s ease forwards ;
    animation-delay: .4s;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 174, 0);
    animation: showRight 1s ease forwards ;
    animation-delay: .4s;
}

.navbar a {
font-size: 18px;
color: rgb(0, 0, 0);
text-decoration: none;
font-weight: 500;
margin-left: 35px;
transition: .3s;
}

.img-front{
    position: absolute;
}
.back-img{
    transition: 1s all ease;
    position: absolute;
    opacity: 0%;
}
.back-img:hover{
    opacity: 100%;
    transition: 0.35s ease-in-out
}
.header--hidden {
    transform: translateY(calc(-1 * var(--header-height)));
    box-shadow: none;
  }
  
  .header__link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
  }

  .pop-info{
    position: absolute;
    height: 100px;
    width: auto;
  }
  #info{
    position: relative;
    height: 20px;
    width: 40px;
    background: #ffffff;
  }
  
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    color: aliceblue;
}
.home-content{
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
   

   
}
.home-content h1{
    text-shadow: 4px 2px 0px  rgb(255, 255, 255);
    position: relative;
   color: rgb(26, 0, 46);
    font-weight: 700;
    line-height: 1.2;
}
.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 174, 0);
    animation: showRight 1s ease forwards ;
    animation-delay: 1s;
}

.home-content h3{
    text-shadow: 4px 2px 0px  rgb(26, 0, 46);
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(250, 255, 179);
}
.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 174, 0);
    animation: showRight 1s ease forwards ;
    animation-delay: 1.3s;
}
.home-content p{
    position: relative;
    color: rgb(26, 0, 46);
    font-size: 16px;
   
}
.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 174, 0);
    animation: showRight 1s ease forwards ;
    animation-delay: 1.5s;
}
.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
  width: 345px;
  height: 50px;
}
.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 174, 0);
    animation: showRight 1s ease forwards ;
    animation-delay: 1.9s;
    z-index: 2;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    border:  2px solid;
    border-color: rgb(26, 0, 46);
    border-radius: 8px;
    color:rgb(26, 0, 46);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 19px;
    overflow: hidden;
}
.btn-box a:nth-child(2) {
 background: transparent;
 color: rgb(26, 0, 46);
}
.btn-box a:nth-child(2):hover{
    color: rgb(255, 255, 255);
    border-color:rgb(26, 0, 46);
}
.btn-box a:nth-child(1):hover{
    color: rgb(255, 255, 255);
    border-color:rgb(26, 0, 46);
}
.btn-box a:nth-child(2)::before{
    background: rgb(26, 0, 46);
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 0;
    height: 100%;
    background: rgb(26, 0, 46);
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before{
    width: 100%;
}

#image{
    display: flex;
    position: absolute;
    height:auto;
    width: auto;
    top: 10%;
    margin-left: 55%;
}
.image img{
    position: relative;
    height: 600px;
  
}
.image::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width:150%;
    height: 100%;
    background: rgb(243, 174, 0);
    animation: showRight 1s ease forwards ;
    animation-delay: 2.5s;
    z-index: 2;
}
.image img:hover{
    opacity: 70%;
    transition: 0.5s;
}


/*animations*/
@keyframes showRight{
    100%{
        width:0;
    }
}


/*about-sections ----------------*/

#about{ 
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -37px;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    align-items: center;
    background: linear-gradient(rgb(24, 0, 75),rgb(0, 3, 35));
    box-shadow: 0px 1px 30px black;
    z-index: 3;
    overflow: hidden;
  
}
/*#about .card{
    position: relative;
    width: 320;
    height: 400px;
    background: rgba(45,45,451);
    border-radius: 20px;
    overflow: hidden;
}
#about .card::before{
    content: '';
    top: var(--y );
    left: var(--x );
    transform: translate(-50%,-50%);
    position: absolute;
    background: radial-gradient(var(--clr),transparent,transparent);
    width: 400px;
    height: 400px;
     
}*/
.about-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left:7%;
    margin-right:7%;
    margin-bottom: 10%;
   
}
.about-content {
    background: -webkit-linear-gradient(#f700ff, #009dff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-content h1{
font-size: 200%;
color: rgb(255, 170, 0);
margin: 3%;
}
.icon{
    position: absolute;
    overflow: hidden;
    height: 150%;
    width: 100%;
    opacity: 20%;
    left: 20%;
}
.icon img{
    
    height: 100%;
}
.videos{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    align-content: center;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
    
}

#content-size{
    color: rgb(26, 0, 46);
    text-shadow: 4px 2px 0px  rgb(255, 255, 255);
    align-content: center;
    font-size: 100%;
}
.videos-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 40px;
   
}

#vid{
    height: 540px;
    width: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 20px 0px rgb(81, 62, 0);
}
#vid1{
    display: flex;
    justify-content: center;
   
    border-radius: 8px;
    background: rgb(0, 0, 0);
    overflow: hidden;
    box-shadow: 10px 10px 20px 0px rgb(81, 62, 0);
}
.long-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    width: 100%;
    
    overflow: hidden;

    font-size: 40px;
}
.short-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    width: 100%;
    overflow: hidden;

    font-size: 40px;
}

#vid:hover{
    transform: scale(1.05);
    transition: 0.4s ease;
}
#vid1:hover{
    transform: scale(1.05);
    transition: 0.4s ease;
}



/*footer---------*/

.footer{
    margin-top: 10%;
    height: 300px;
    width: 100%;
    background-color: rgb(26, 0, 46);
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1 ;
}